<footer class="article-list-footer">
  <div
    class="is-flex is-flex-wrap-wrap is-align-items-center"
    style="gap: 0.5rem"
  >
    <time
      class="article-list-date has-text-grey"
      datetime="{{ include.post.date | date: '%Y-%m-%d' }}"
    >
      <span class="icon is-small">
        <i class="far fa-calendar-alt"></i>
      </span>
      {{ include.post.date | date: "%B %-d, %Y" }}
    </time>

    <span class="article-list-divider has-text-grey-light">•</span>

    <span class="article-list-minutes has-text-grey">
      {% capture words %} {{ include.post.content | number_of_words }} {%
      endcapture %} {% unless words contains "-" %}
      <span class="icon is-small">
        <i class="far fa-clock"></i>
      </span>
      {{ words | plus: 250 | divided_by: 250 | append: " min read" }} {%
      endunless %}
    </span>

    {% if include.post.categories.size >= 1 %}
    <span class="article-list-divider has-text-grey-light">•</span>
    <div class="field is-grouped is-grouped-multiline">
      {% for cat in include.post.categories %}
      <div class="control">
        <a
          href="{{ site.url }}{{ site.baseurl }}/category/{{ cat | downcase }}"
          class="tag is-light is-small article-category-tag"
        >
          <span class="icon is-small">
            <i class="fas fa-folder"></i>
          </span>
          <span
            >{{ cat | capitalize | remove: '
            <p>' | remove: '</p>
            ' }}</span
          >
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% if include.post.tags.size >= 1 %}
    <span class="article-list-divider has-text-grey-light">•</span>
    <div class="field is-grouped is-grouped-multiline">
      {% for tag in include.post.tags %}
      <div class="control">
        <a
          href="{{ site.url }}{{ site.baseurl }}/tag/{{ tag | downcase }}"
          class="tag is-primary is-light is-small article-tag"
        >
          <span class="icon is-small">
            <i class="fas fa-tag"></i>
          </span>
          <span
            >{{ tag | capitalize | remove: '
            <p>' | remove: '</p>
            ' }}</span
          >
        </a>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</footer>
